$select-flex-basis: 27%;

.mat-card-header .mat-card-header-text .mat-card-title.card-title {
  margin-top: 20px;
}

.task-form {
  padding: 5px 20px;
}

.select-group {
  .mat-form-field {
    flex-basis: $select-flex-basis;
  }

  .select-group-item {
    flex-basis: $select-flex-basis;

    span {
      color: #551a8b;
      cursor: pointer;
      font-size: 1.1rem;

      &:hover {
        color: brown;
        transition: 0.25s ease-in;
      }
    }
  }
}

.description {
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 25px;

  &-title {
    color: #888787;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  &-error {
    position: absolute;
    padding-top: 10px;
  }
}

.form-actions {
  margin-top: 35px;
}

.btn-cancel {
  margin-left: 40px;
}
