$select-flex-basis: 27%;

.mat-card-header .mat-card-header-text .mat-card-title.card-title {
  margin-top: 20px;
}

.task-form {
  padding: 5px 20px;
}

.select-group {
  .mat-form-field {
    flex-basis: $select-flex-basis;
  }
}

.editor {
  position: relative;
  margin-top: 20px;

  .description-error {
    position: absolute;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 10px;
  }
}

.form-actions {
  margin-top: 35px;
}

.btn-cancel {
  margin-left: 40px;
}
