<div class="search-container flex-row">
  <div class="search-input">
    <mat-form-field class="w-100">
      <input
        matInput
        type="text"
        placeholder="Search by summary or description"
        [(ngModel)]="searchText"
        (ngModelChange)="onInputChange($event)"
        (keyup.escape)="onKeyEscape()"
      >
      <button
        class="btn-search"
        mat-button
        mat-icon-button
        matPrefix
      >
        <mat-icon>search</mat-icon>
      </button>
      <button
        *ngIf="searchText"
        class="btn-cancel-filter"
        mat-button
        mat-icon-button
        matSuffix
        (click)="clearSearchField()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="select-filters">
    <mat-form-field class="w-100">
      <mat-label>Filter by assignee</mat-label>
      <mat-select
        [(ngModel)]="selectedUser"
        [compareWith]="compareUsers"
        (ngModelChange)="onSelectionChange($event)"
      >
        <mat-option
          *ngFor="let assignee of users$ | async | sortBy:'asc':'name'"
          [value]="assignee"
        >
          {{ assignee.name }} {{ assignee.surname }}
        </mat-option>
      </mat-select>
      <button
        *ngIf="selectedUser"
        class="btn-cancel-filter"
        mat-button
        mat-icon-button
        matSuffix
        (click)="clearUserFilter($event)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
